* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-primary:#F4F5FB;
  --background-secondary:#FFFFFF;
  --color-brand:#CA3884;
  --color-brand-hover:#A52C6B;
  --color-alert:#C93847;
  --content-primary:#080B12;
  --content-secondary:#374151;
  --content-tertiary:#9CA3AF;
  --border-primary:#D1D5D8;
  --border-hover:#B9C2D0;
  --font-family:'Inter',sans-serif;
  --title: 800 24px/32px var(--font-family);
  --label: 600 16px/20px var(--font-family);
  --paragraph: 400 16px/20px var(--font-family);
  --link: 400 14px/16px var(--font-family);
  --input: 400 16px/140% var(--font-family);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-primary);
}

main {
  max-width: 627px;
  width: 100%;
}

#logo {
  margin:25px 0 62px 0;
}

.return-button {
  display: flex;
  align-self: flex-start;
  align-items: center;
  gap: 2px;
  color: var(--color-brand);
  font: var(--link);
  font-weight: 600;
  border: none;
  background:none;
  margin: 0 0 16px 3px;
}


.return-button:hover {
  color: var(--color-brand-hover);
}

h2 {
  font: var(--title);
  padding: 2px;
  margin-bottom: 44px;
}

#input-wrapper {
  gap:16px;
  height:44px;
  margin-bottom: 40px;
}

#item-input {
  height: 100%;
  max-width: 451px;
  border-radius: 12px;
  border: 2px solid var(--border-primary);
  font: var(--input);
  padding: 11px 259px 11px 18px;
}

#item-input:hover {
  border: 2px solid var(--border-hover);
}

#item-input:focus {
  border: 2px solid var(--color-brand);
  outline: none;
}

#item-input:focus::placeholder {
  color: var(--content-primary);
  
}

#item-input, ul {
  background-color: var(--background-secondary);
}

.design-button:hover {  
  background-color: var(--color-brand-hover);
}

ul, ol {
  list-style: none;
}

#shoplist input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid var(--border-primary);
  border-radius: 6px;
  margin: 16.5px 12px;
}

#shoplist input[type="checkbox"]:hover {
  border:1px solid var(--border-hover);
}
#shoplist input[type="checkbox"]:checked {
  background-color: var(--color-brand);
  background-image: url("../assets/checkbox-check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
}

#shoplist span {
  font: var(--paragraph);
  color: var(--content-secondary);
  font-weight: 500;
}

#shoplist {
  background: none;
}

#shoplist li {
  display: flex;
  justify-content: flex-start;
  width: 627px;
  height: 49px;
  gap: 12px;  
  background-color: white;
  border-radius: 12px;
  margin-bottom: 12px;
}
#shoplist label {
  display: flex;
  align-items: center;
  flex:1;
  height: 100%;
  cursor: pointer;
}

#delete-button {
  appearance: none;
  border: none;
  display: flex;
  width: 16px;
  height: 16px;
  align-self: center;
  background-color: var(--content-tertiary);
  mask: url("../assets/trash.svg") no-repeat center;
  mask-size: contain;
  margin-right: 16px;
}
